@model List<UserWithRolesViewModel>

@{
	ViewData["Title"] = "Users";
	Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
}

@foreach (var user in Model)
{
	<p>@user.FirstName @user.LastName</p>
	<p>@user.RoleName[0]</p>
}


