@model RegisterContactUsViewModel
@{
	ViewData["Title"] = "Contact Us";
}
<section class="contact-form">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 form-col p-5">
                <form method="post" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-6">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" />
                            <small><span asp-validation-for="FirstName" class="text-danger"></span></small>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" />
                            <small><span asp-validation-for="LastName" class="text-danger"></span></small>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" />
                            <small><span asp-validation-for="Email" class="text-danger"></span></small>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" />
                            <small><span asp-validation-for="PhoneNumber" class="text-danger"></span></small>
                        </div>
                        <div class="col-12 description">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description"></textarea>
                            <small><span id ="description-message"class="text-danger"></span></small>
                        </div>
                        <div class="check-boxs">
                            <input type="checkbox"
                                   id="save-info"
                                   name="save-info"
                                   value="" />
                            <label for="save-info">
                                Save my name, email, and website in
                                this browser for the next time I
                                comment.
                            </label>
                        </div>
                        <div class="form-button">
                            <button id="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<partial name="/Views/Partials/Others/_GoogleMapsPartial.cshtml"/>
<script>descriptionChecker()</script>