<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container-fluid">
        <a asp-controller="Admin" asp-action="Index" class="navbar-brand">Backoffice - Merketo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">@(User.FindFirst("DisplayName")?.Value) - Admin</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Merketo</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="AllUsers">All Users</a></li>
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="CreateUser">Create User</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="AllProducts">All Products</a></li>
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="CreateProduct">Create Product</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="SignOut">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>