@import '../../core/_fonts.scss';
@import '../../core/colors.scss';
@import '../../core/mixins.scss';
.product-card {
    padding: 0px;
    height: 100%;

    .card-img {
        &:hover {
            transition: transform .3s;
            transform: scale(1.04);
        }

        img {
            width: 100%;
            max-height: auto;
        }
    }

    .card-img-new {
        position: relative;
        display: inline-block;

        &:hover {
            transition: transform .3s;
            transform: scale(1.04);
        }

        img {
            width: 100%;
            max-height: auto;
        }

        p {
            position: absolute;
            top: 4px;
            right: 2px;
            margin: 0;
            padding: 0;
            transform: rotate(45deg);
            color: white;
            z-index: 1;
            font-size: 8px;

            @include md {
                top: 5px;
                font-size: 10px;
                right: 3px;
            }
        }

        span:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 30px 30px 0;
            border-color: transparent black transparent transparent;
            right: 0;
            top: 0;
            position: absolute;

            @include md {
                border-width: 0 40px 40px 0;
            }
        }
    }

    .card-info {
        padding: 0 10px;
        font-family: $font-poppins;
        font-family: $font-weight-light;

        h5 {
            font-size: 14px;
            padding-top: 15px;

            @include lg {
                font-size: 18px;
            }
        }

        span {
            font-size: 10px;
            color: $color-dark-3;

            @include lg {
                font-size: 14px;
            }
        }

        .normal-price {
            text-decoration: line-through;
            margin-right: 5px;
        }

        .shopping-cart-icon {
            float: right;
            cursor: pointer;
            padding-bottom: 15px;
            font-size: 15px;
            color: black;

            &:hover {
                opacity: 50%;
            }
        }
    }
}
